<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>mosek_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BAFC96944D34277A57AA53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D21B871AFC74B5F9616A42B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7166DAF65D4249ED8EFDA69A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78B9D22FF79C433FAB1CADF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80A7FEE41CFB4F0CA58F07AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD541A271934930810DA3EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
